/* ==========================================================================
   Author's custom styles 
   ========================================================================== */

#map_canvas {
  width: 325px;
  height: 375px;
  margin-bottom: 15px;
}