body {
  color: #cccccc;
  background: #741C1C;
}
.container > .row-fluid > p > a,
.container > .row-fluid > ul > li > a {
  color: #FFFC19;
}
.container > .row-fluid > img {
  padding-bottom: 20px;
}
#map_canvas {
  padding-bottom: 20px;
}
.mtabus {
  color: #2850AD;
  font-weight: bold;
}
.m31 {
  color: #fff;
  background-color: rgb(185, 51, 173);
}
.m57 {
  color: #fff;
  background-color: rgb(0, 174, 239);
}
.m101,
.m102 {
  color: #fff;
  background-color: rgb(250, 166, 26);
}
.m103 {
  color: #fff;
  background-color: rgb(185, 51, 173);
}
.jumbotron > h2,
.jumbotron > h3,
.jumbotron > p,
.jumbotron > address > p,
.jumbotron > address > abbr,
.jumbotron > address {
  color: #3d3165;
}